[2019-07-29 15:08] akn9050 opened #3 "Application Insights telemetry data is not available"
In step [Ex-8.2.7](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20MLOps.md#task-2-check-application-insights-telemetry),  there is no telemetry data present. I tried by running the whole lab 2 times.

[2019-08-12 22:13] jhasanjay opened #4 "Pipeline Run failed when it tried to install the CLI"
ERROR: command authoring error for 'account set': 'subscription' conflicting option string: --subscription

[2019-08-13 13:21] timahenning commented on #4
Thank you for bringing this to our attention.  We will look into it.

Tim

[2019-08-13 15:15] shirolkar commented on #4
Hi @jhasanjay can you check the version of azure CLI installed from environment_setup/install_requirements.sh. If it says, azure-cli==2.0.46, can you change that to azure-cli==2.0.49 and see if it fixes your issue.

[2019-08-14 03:06] jhasanjay commented on #4
Thanks for quick response.. I put cli=2.0.69 and then it worked.

[2019-08-14 03:06] #4 closed

[2019-08-29 17:13] DawnmarieDesJardins commented on #3
Closing issue - address in latest merge.

[2019-08-29 17:13] #3 closed

[2019-10-11 00:12] DawnmarieDesJardins opened #7 "November 2019 - Content update"
This workshop is scheduled for a content update. Solliance, please review the workshop and provide your update suggestions for SME review here.

[2019-10-25 15:26] ciprianjichici commented on #7
Here are some suggestions for the content update:

1. Whiteboard design student guide - include data versioning in the infographic for common scenarios
2. WDS trainer presentation - include data versioning in slide 9
3. Update screenshots to new AML user experience
4. Update screenshots to new Azure DevOps experience
5. Build pipeline - trace trained model back to source code and Azure DevOps buil

[2019-10-28 09:56] 105306002 opened #8 "Deploy & Test Webservice inline script"
inline script should be

python $(System.DefaultWorkingDirectory)/_mlops-quickstart/devops-for-ai/aml_service/deploy.py --service_name $(service_name) --aks_name $(aks_name) --aks_region $(aks_region) --description $(description)

not

python aml_service/deploy.py --service_name $(service_name) --aks_name $(aks_name) --aks_region $(aks_region) --description $(description)

and working Directory sh

[2019-10-29 02:34] ciprianjichici commented on #8
We were not able to reproduce the issue. Can you please provide a more detailed description of the error you are getting during the **Deploy & Test Web Service** step of the release pipeline?

[2019-10-29 05:36] 105306002 commented on #8
it will say can not find aml_service/deploy.py  and can not open eval_info .json

[2019-10-29 22:23] lehmus opened #9 "Test data prediction: name 'inputs_dc' is not defined"
In Exercise 6, Task 4, the script is not able to find test data:
![Task 4](https://user-images.githubusercontent.com/16114036/67813636-b0da6d80-faaa-11e9-8219-04d4b84a6e6e.png)

Similarly, in Exercise 7, the Test Deployment notebook gives a similar message:
![Notebook output](https://user-images.githubusercontent.com/16114036/67813917-6b6a7000-faab-11e9-82b3-be1d765aecad.png)

Any idea how to fix

[2019-10-29 22:48] timahenning commented on #9
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/  We will review your issue soon.

Tim

[2019-11-02 11:12] shirolkar commented on #8
Hi @105306002 @timahenning @DawnmarieDesJardins @ciprianjichici

I tested this issue and was also not able to reproduce. It was sufficient to set the working directory without explicitly setting the same path again in the inline script.
First, I did see this issue, but it was _user error_ since I used a different project name and copied the working directory path as: **$(System.DefaultWorkingDirec

[2019-11-04 11:41] timahenning commented on #8
@105306002 Please let us know if this solution does not solve your problem.  We will close this issue in a couple of days if we do not hear back.

Thank you,

Tim

[2019-11-05 08:28] lehmus opened #11 "Feedback on workshop content"
Hi, I have some feedback related to the workshop content. I couldn't find any other channel to give feedback, so I decided to create an issue.

1. I think the workshop is missing the central piece of Azure MLOps, that is the Azure DevOps ML extension. The ML extension allows to trigger pipelines after a model has been updated in the Azure ML Workspace, but this feature has not been used in this wo

[2019-11-05 14:38] ciprianjichici commented on #7
#11 has some great feedback we should incorporate as well in the changes:
9. Showcase the use of Azure DevOps ML extension
10. Showcase the use of ONNX (as it is referred in the WDS)

[2019-11-05 20:46] #8 closed

[2019-11-17 20:39] dficarel commented on #9
I am having the same issue as @lehmus.  Is there any resolution for this yet?

[2019-11-18 17:38] timahenning commented on #9
We are actively working on this issue.

Tim

[2019-11-19 17:30] shirolkar commented on #9
@lehmus @dficarel @DawnmarieDesJardins @timahenning @ciprianjichici

Thanks for reporting the issue.

This issue is fixed. To get the fix, you have to get the latest score.py file from https://github.com/solliancenet/mcw-mlops-starter. Copy the new score.py file in your repo’s script folder. The other option is if you redo the lab, the repo import will now pickup the latest file.

This issue happe

[2019-11-21 19:21] timahenning commented on #9
Solution provided.

[2019-11-21 19:21] #9 closed

[2019-11-22 15:11] dficarel commented on #9
Thank You Tim for the prompt fix.

Dom

On Thu, Nov 21, 2019 at 1:21 PM Tim Henning <notifications@github.com>
wrote:

[2019-11-22 16:19] timahenning commented on #9
You are welcome.  Thank Jitendra.  @shirolkar He fixed it.

Tim

[2019-12-02 21:19] ciprianjichici commented on #11
Thank you @lehmus for the suggestions.

1. The approach of the workshop is centered around Azure DevOps as the main process orchestrator. Since the Azure DevOps build pipeline eventually leads to the model being (potentially) updated in AML,  the two scenarios (release triggered by build artifacts and release triggered by Azure DevOps ML extension) are practically equivalent. We are considering sw

[2019-12-10 10:31] himanshuahlawat31 opened #13 "Pipeline failing in Exercise 4"
In Exercise 4 task 2, When we run the build pipeline it is getting failed
![image](https://user-images.githubusercontent.com/57964598/70521734-c476fa80-1b65-11ea-8588-5878f1edaf27.png)

[2019-12-10 14:11] timahenning commented on #13
Thank you for reporting this issue.  Please take a moment to review the help and support guidance.  https://microsoftcloudworkshop.com/

We will review your issue soon.

Tim

[2019-12-10 14:56] ciprianjichici commented on #13
I was unable to reproduce the problem. Can you please provide the detailed log of the Master Pipeline step so we can have a better understanding of the root cause? Thank you.

[2019-12-11 13:34] himanshuahlawat31 commented on #13
Hi , that issue is solved but we are getting failure in Exercise 6 task 3
![image](https://user-images.githubusercontent.com/57964598/70625506-88689600-1c48-11ea-875b-378956b5f600.png)
[ReleaseLogs_1.zip](https://github.com/microsoft/MCW-ML-Ops/files/3950563/ReleaseLogs_1.zip)

[2019-12-17 18:55] timahenning commented on #13
@himanshuahlawat31 If the original issue is solved, please open a new issue with so we can start tracking it.  Is this failure directly linked to the previous issue?

[2019-12-17 20:33] himanshuahlawat31 opened #14 "error in exercise 6 task 3"
we are getting failure while running pipeline  in Exercise 6 task 3

![image](https://user-images.githubusercontent.com/57964598/70625506-88689600-1c48-11ea-875b-378956b5f600.png)
[ReleaseLogs_1.zip](https://github.com/microsoft/MCW-ML-Ops/files/3975315/ReleaseLogs_1.zip)

[2019-12-17 20:33] #13 closed

[2019-12-18 17:47] shirolkar commented on #14
Hi @himanshuahlawat31 @timahenning
Can you please review your setup in
Task 7 / Step 3
Expand Advanced and provide Working Directory: $(System.DefaultWorkingDirectory)/_mlops-quickstart/devops-for-ai
This path works if your Azure DevOps project name is **mlops-quickstart** in Task 1 / Step 3. If you named your project something different (**mcw-mlops-starter**), you can set your path by selecting

[2019-12-23 06:08] himanshuahlawat31 commented on #14
will check and update you about the issue

[2019-12-27 19:21] #7 closed

[2019-12-27 20:32] DawnmarieDesJardins commented on #11
Closing open issue with Nov 2019 update.

[2019-12-27 20:32] #11 closed

[2019-12-29 16:42] timahenning commented on #14
Closing this issue due to the lack of activity.  Please us know if this is still a problem and we will reopen the issue.

[2019-12-29 16:42] #14 closed

[2020-01-06 13:32] himanshuahlawat31 opened #15 "Framework: TFKeras is not available to select"
In Task 2 step 2 - https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20MLOps.md#task-2-register-model-from-azure-machine-learning-studio
While registering model we are not getting option for selecting framework:TFKeras,  as TFKeras is a part of tensor flow we selected TenserFlow and it worked
![image](https://user-images.githubusercontent.com/57964598/7182

[2020-01-06 13:52] himanshuahlawat31 opened #16 "Azure Devops issue : not able to import repository"
In exercise 3 task 2 https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by%20step%20-%20MLOps.md#task-2-import-quickstart-code-from-a-github-repo
while importing repository we are facing an issue
![image](https://user-images.githubusercontent.com/57964598/71821175-6b907880-30b7-11ea-92b9-698320f7b8ff.png)
Workaround for the problem is  :
1. Go to Account settings and Sel

[2020-01-07 19:16] #15 closed

[2020-01-07 19:17] DawnmarieDesJardins commented on #16
Closing issue with merge of PR #17.  Thank you!

[2020-01-07 19:17] #16 closed

[2020-02-25 17:31] timahenning opened #18 "March 2020 – content update"
Suggestion content goes here

[2020-02-26 23:29] shirolkar commented on #18
Suggestions for March 2020 updates:

1. Update the lab to use Compute Instances in Azure Machine Learning workspace instead of using Azure Notebooks.
2. Update all the affected UIs in Azure ML studio, Azure DevOps, and Application Insights sections.
3. Clean up instructions and errors / warnings in notebooks.
4. Bring install_requirements.sh up to date (azure-cli version).
5. Introduce the AML Dat

[2020-04-14 21:40] #18 closed

[2020-04-22 01:51] nfmoore opened #20 "Build Pipeline Error - Exercise 4"
Hi everyone,

I'd like to bring an error to your attention in this workshop during [Exercise 4](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md#exercise-4-setup-and-run-the-build-pipeline). In this step you execute a build pipeline from the repo linked in the instructions. The code here does not have any issues from what I can see. The build pip

[2020-04-22 03:04] nfmoore commented on #20
Solved this. The problem was resolved after using version 1.2.0 of the azureml library. Changes should be made to `install_requirements.sh` [here](https://github.com/solliancenet/mcw-mlops-starter-v2/blob/master/environment_setup/install_requirements.sh#L3) to specify the dependency version.

[2020-04-23 13:51] timahenning commented on #20
Hi nfmoore,

We are going to have a look into this issue.

Tim

[2020-04-27 23:46] shirolkar commented on #20
@nfmoore @timahenning This issue is fixed. Please pickup the latest changes from https://github.com/solliancenet/mcw-mlops-starter-v2.

[2020-04-28 02:47] #20 closed

[2020-06-07 21:32] himanshuahlawat31 opened #21 "Not able to select service connection quick-starts-sc"
In exercise 5 task 7 we have to select **quick-start-sc** as a service connection , but i am not able to select the service connection that i created in previous exercise (quick-starts-sc)
![image](https://user-images.githubusercontent.com/57964598/83980569-869c3880-a934-11ea-9017-252ed6943a69.png)

[2020-06-08 13:10] shirolkar commented on #21
@himanshuahlawat31 @timahenning
Please select Task version as 1* and then you should be able to select your service connection. The instructions will be updated in the June 2020 update to make it clear. Thanks.

[2020-06-09 08:21] Sup90 opened #22 "Deep Learning with Text.ipynb doesn't work."
Deep Learning with Text.ipynb doesn't work.

where line 176, **converted_model = onnxmltools.convert_keras(model, onnx_model_name, target_opset=7)**

with error('tuple' object has no attribute 'layer')

i think because of keras or tensorflow version update.

[2020-06-09 14:11] shirolkar commented on #22
@timahenning @roxanagoidaci
I might have fixed this issue as part of test/fix for this MCW. I was about to send the PR.

[2020-06-09 14:20] gitsathish commented on #22
Issue with the same notebook, get this on the import statements in the notebook.
--------------------- Error ------------------------
Using TensorFlow backend.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-37-d955de91cd14> in <module>
     18 from azureml.train.dnn import Tensor

[2020-06-09 14:44] shirolkar commented on #22
@gitsathish @timahenning
One other questions(1) when did you create your Azure compute instance to run the lab?
Also, it may make sense to create a new issue since this is different that the one originally reported here. Thanks.

[2020-06-09 15:01] gitsathish commented on #22
will create another case @shirolkar
using compute instance created 1hour ago.
I get error below when I run,
import keras
import tensorflow
print(keras.version)
print(tensorflow.version)
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-38-09d02ef28c5b> in <module>
----> 1 import ker

[2020-06-09 15:09] gitsathish opened #24 "Deep Learning with Text.ipynb issue"
When running the import statements towards the beginning of the notebook, get the error below.
Using compute instance created at 9:40AM EST june 9th 2020.
Python 3.6 - AzureML

---------- error -----
Using TensorFlow backend.
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-67-d955

[2020-06-09 15:20] shirolkar commented on #24
@gitsathish
Thanks.
Can you provide Keras and tensorflow version numbers. Also, can you tell us approximately when did you create the Azure compute instance to run the lab.
import keras
import tensorflow
print(keras.version)
print(tensorflow.version)

[2020-06-09 15:23] shirolkar commented on #24
@gitsathish Ok. I see you added when you created the compute instance. Thanks.

[2020-06-09 15:45] shirolkar commented on #24
@gitsathish
I just created a new compute instance and I do not see the issue you report.
keras version: 2.3.1 tensorflow version: 2.1.0
Azure ML SDK version: 1.6.0

Looks like there is some issue with to your environment if you cannot even import keras and tensorflow. You can try creating a new compute instance and see if that helps.

[2020-06-09 17:55] himanshuahlawat31 opened #25 "Deep Learning with Text.ipynb"
while running the experiment in Deep Learning with text.ipynb i am getting error as:
![image](https://user-images.githubusercontent.com/57964598/84182697-6b523a00-aaa8-11ea-9f83-87daa6385a9f.png)

[2020-06-09 19:16] himanshuahlawat31 opened #26 "Not able to select Service connection"
In exercise 3 task 4 step 3 i am not able to select machine learning workspace even though workspace is created
![image](https://user-images.githubusercontent.com/57964598/84190031-dbb28880-aab3-11ea-80ac-188a5412518d.png)

[2020-06-09 20:15] shirolkar commented on #25
Hi @himanshuahlawat31 Can you share the error from the driver_log.txt file. You can choose the diver_log file from the dropdown box Output Logs. Thanks.

[2020-06-09 20:23] shirolkar commented on #26
@himanshuahlawat31 This is odd. It was working couple of weeks back when I tested the lab. Can you try to change it to Subscription scope and pick your resource group.

[2020-06-09 20:26] himanshuahlawat31 commented on #26
i tried changing scope to resource group also , i am getting this error
![image](https://user-images.githubusercontent.com/57964598/84196246-93986380-aabd-11ea-886a-e45ae8e9ad4b.png)

[2020-06-09 20:34] himanshuahlawat31 commented on #25
yes please find the driver_log.txt file
[driver_log.txt](https://github.com/microsoft/MCW-ML-Ops/files/4754717/driver_log.txt)

[2020-06-09 20:40] shirolkar commented on #26
@himanshuahlawat31
Hi Himanshu - I also saw the above error. I existed the editor. refreshed my browser. Next time it worked - resource group level. Its very odd. Can you try again. Thanks.

[2020-06-09 20:45] shirolkar commented on #25
@himanshuahlawat31
I fixed a similar issue today. You can find the new notebook at https://github.com/shirolkar/MCW-ML-Ops/tree/master/Hands-on%20lab/notebooks
Would you be able to use this notebook?
I have sent a PR to Microsoft to accept this change.

[2020-06-09 23:24] shirolkar commented on #26
@himanshuahlawat31
I have updated the instructions to workaround the issue when you are unable to select your workspace. https://github.com/shirolkar/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md

[2020-06-10 10:45] himanshuahlawat31 commented on #26
@shirolkar I tried with updated instruction but the issue is same

[2020-06-10 23:31] DawnmarieDesJardins commented on #26
Closing issue as resolved with merge of PR #23

[2020-06-10 23:31] #26 closed

[2020-06-10 23:31] DawnmarieDesJardins commented on #25
Closing issue as resolved with merge of PR #23

[2020-06-10 23:31] #25 closed

[2020-06-10 23:31] DawnmarieDesJardins commented on #22
Closing issue as resolved with merge of PR #23

[2020-06-10 23:31] #22 closed

[2020-06-10 23:32] DawnmarieDesJardins commented on #21
Closing issue as resolved with merge of PR #23

[2020-06-10 23:32] #21 closed

[2020-07-20 05:02] anderhong opened #27 "Having an issues during task 4: Mastering pipeline"
Tried so many times and the job stopped facing: "'Run' object has no attribute 'get_output_data'",

	Message: Activity Failed:
{
    "error": {
        "code": "UserError",
        "message": "User program failed with AttributeError: 'Run' object has no attribute 'get_output_data'",
        "detailsUri": "https://aka.ms/azureml-known-errors",
        "details": [],
        "debugInfo": {

[2020-07-21 20:55] shirolkar commented on #27
@anderhong @timahenning
Hi Guys - I just tested this in a new env and I cannot reproduce this issue. Can you please check the version of Azure ML SDK used during the master pipeline run. When I ran this today, the version was 1.10.0. Thanks.

In piplines_master.py
Pipeline SDK-specific imports completed
Azure ML SDK version: 1.10.0

[2020-07-22 00:46] anderhong commented on #27
Hi @shirolkar .  yes, the error fixed by update the Azure ML SDL 1.10.0 on install_requirements.sh and pipelines_master.py

[2020-07-22 00:46] #27 closed

[2020-08-10 20:38] rgknp opened #28 "Azure ML compute name should be unique in whole Azure region"
Task 1 -> Step 10 in HOL has this:

a. Compute name: mlops-compute. When you create a VM, provide a name. The name must be between 2 to 16 characters. Valid characters are letters, digits, and the - character, and **must also be unique across your Azure subscription**.

However when I create the AML compute it fails with below error:

"Compute with this name already exists. Compute name needs to b

[2020-08-11 02:26] rgknp opened #29 "Build pipeline fails while creating image"
Followed instructions but Azure Pipeline fails in Master Pipeline activity while creating Model Image. Log attached.[
[build.log](https://github.com/microsoft/MCW-ML-Ops/files/5054428/build.log)
](url)

[2020-08-17 08:52] ErnstRoell commented on #29
Tried to run the Master Pipeline and ran into the same problem.

[2020-08-20 12:56] timahenning opened #30 "September 2020 Updates"

[2020-08-24 15:28] shirolkar commented on #28
@rgknp @DawnmarieDesJardins @timahenning
This issue is not a showstopper issue. We will address this issue in the upcoming Sept 2020 update. Thanks. Jitendra

[2020-08-24 15:35] shirolkar commented on #29
@rgknp  @ErnstRoell  @timahenning
I am still investigating this issue. My independent test shows that this specific is resolved with azureml sdk verion 1.12.0. However, the build pipeline is failing because of another error with v 1.12.0. There is an error in the master pipeline at the end of train step: ServiceError: Failed to upload outputs due to Object reference not set to an instance of an ob

[2020-08-25 16:49] shirolkar commented on #30
1. Update all the affected UIs in Azure ML studio, Azure DevOps, and Application Insights sections.
2. Fix open issues #28 and #29.
3. Update to use software environments instead of container images.
4. Reorganize train and evaluate steps so that (1) model is registered after it passes the evaluation step and (2) the creation and registration of environment is moved to the release pipeline during

[2020-08-25 19:16] jpe316 commented on #30
- Examples should use ScriptRunConfig as estimators are being deprecated
- Specify input data as FileDataset
- example should use mlflow log model, read model for the tensorflow model
- example should use mlflow model deploy

tagging @akshaya-a / @mx-iao / @shivp950

[2020-09-01 14:39] shirolkar commented on #29
@rgknp @ErnstRoell @timahenning  This issue should be fixed now. Please test with a new azure devops project that will install the latest SDK. Confirm that you are using Azure Machine Learning SDK version: 1.13.0.

[2020-09-01 22:11] timahenning commented on #29
Closing the issue.  Solution provided.  We will be happy to reopen the issue if needed.

[2020-09-01 22:11] #29 closed

[2020-09-11 03:46] alexanderv21 opened #32 ""Can't import tf2onnx module ..." during keras conversion"
Hi,

Found some warning error like below during keras to onnx conversion:

model saved in ./outputs/model folder
Saving model files completed.
Can't import tf2onnx module, so the conversion on a model with any custom/lambda layer will fail!
WARNING - Can't import tf2onnx module, so the conversion on a model with any custom/lambda layer will fail!
Model exported in ONNX format...

![image](https://

[2020-09-14 21:22] DawnmarieDesJardins commented on #32
Closing issue as resolved with merge of PR #31

[2020-09-14 21:22] #32 closed

[2020-09-23 19:37] leeoommen opened #33 "Lab failing during Release: failing at the step of creating webservices."
To the best of my knowledge I did follow the instructions and having failure towards the end of lab where it really matters. Build succeeded. During Release, failing at the step of creating webservices. devops does not provide anything much to troubleshoot this.

When I load the same image that was built using devops on ACI, I see this message.

“ModuleNotFoundError: No module named 'ruamel'
Worke

[2020-09-25 19:38] shirolkar commented on #33
@leeoommen  @timahenning  @DawnmarieDesJardins I will take care of this during the October 2020 update. Thanks. Jitendra

[2020-09-25 21:24] rgknp opened #34 "Deploy and Test Webservice steps fails with different reasons"
Exercise 6: Test Build and Release Pipelines
Task 4: Review Release Pipeline Outputs

#1 Deploy and Test Webservice step fails with error "ServicePrincipalNotFound". See attached log tasklog_8.log
[tasklog_8.log](https://github.com/microsoft/MCW-ML-Ops/files/5285432/tasklog_8.log)

#2 Deleted failed AKS cluster (may be consider checking AKS provisioning state and add step to delete bad/failed clus

[2020-09-28 15:03] shirolkar commented on #34
@timahenning @DawnmarieDesJardins @rgknp  I will take care of this during the October 2020 update. Thanks. Jitendra

[2020-09-28 15:44] rgknp commented on #34
Hi @shirolkar can you pls share when October 2020 is planned to roll out? Also if it is a known issue can you pls share how to fix so I can be unblocked? I am running some Customer demos and if I can fix my setup that would be great. Thanks!

[2020-09-28 16:21] shirolkar commented on #34
@rgknp its scheduled to be published 10/23. The change is non-trivial. If you prefer to you can do your demo from my fork which has the October updates: https://github.com/shirolkar/MCW-ML-Ops
Note that there are lot of changes in this update and the underlying source code repository is also different. All the instructions are updated on my fork.

[2020-09-30 22:26] rgknp commented on #34
I pulled up the latest October 2020 changes from Master (it was updated yesterday). Rebuilt my repo from the new source, create a new build pipeline but it fails to build with follow error:
Traceback (most recent call last):
  File "aml_service/pipelines_master.py", line 130, in <module>
    data = pipeline_run.find_step_run('evaluate')[0].get_output_data('evaluate_output')
AttributeError: 'Run' o

[2020-10-01 17:24] shirolkar commented on #34
@rgknp Thanks for finding this issue. The version of AML SDK changed from time I was making this update and there a change in behavior in AML SDK that is causing this issue. I would not be surprised if a future version of AML SDK fixes this issue without any change. I have found a workaround that I will test and put in today.

[2020-10-01 20:23] shirolkar commented on #34
@rgknp I have committed my changes to workaround this issue. The changes are only in one file: https://github.com/solliancenet/mcw-mlops-starter-v3/blob/master/aml_service/pipelines_master.py
Thanks for finding this issue and please let me know if you run into other problems.

[2020-10-01 22:03] rgknp commented on #34
Thanks. It worked!
I am now able to deploy model to AKS and got back the endpoint. Will continue testing.

Thanks for the quick response!

[2020-10-02 02:22] rgknp opened #35 "modeldata is empty in Storage account even after multiple webservice endpoint calls."
Exercise 9: Examining deployed model performance
Task 3: Check the data collected

I followed the steps to setup Application Insights and went to Storage Account in the resource group where all the lab resources are placed. Even after multiple successful calls to deployed Model endpoint, there are no results saved in the storage account. modeldata container is empty.

![Screenshot 2020-10-01 22165

[2020-10-02 13:58] shirolkar commented on #35
@rgknp I am not able to reproduce this issue. Can you confirm:

Task 1: Activate App Insights and data collection on the deployed model
Confirm that the webservice_url and webservice_key you provided in the notebook is for AKS service and not ACI service.
Confirm that task 1 worked without an errors in the last cell of the notebook.

Task 2: Check Application Insights telemetry
Confirm that you ar

[2020-10-02 21:56] rgknp commented on #35
I tried again and it works. Somehow even after multiple refresh I wasn't able to see telemetry. Today when I tried it created a folder within modeldata.

On a different note, it appears like model always returns prediction "0.57746685" no matter what input is passed. Even with the inputs.csv currently present I see there are two input types but prediction is always the same.

[2020-10-03 17:29] shirolkar commented on #35
@rgknp Are you referring to making predictions using the trained model in Deep Learning with Text notebook? Or the deployed models from the release pipelines as shown in Test Deployment notebook? Note that you should train the models with lr=0.001 and epochs = 5 to get good accuracy. The training data is limited and very simple, so we should get close to 100% accuracy.

For making inferences the i

[2020-10-05 17:23] #34 closed

[2020-10-05 17:23] timahenning commented on #34
Issue resolved.

[2020-10-16 13:55] tejaswini972 opened #37 "Pipeline failure in Exercise4"
In Exercise4 Task2 (Run the Build Pipeline) step3,  the pipeline failed.
Please find the screenshots and log file of the pipeline below for reference.

![Screenshot (102)](https://user-images.githubusercontent.com/52440474/96266718-96174680-0fe4-11eb-9914-212a83e88b64.png)

Log file:
[1_Job (1).txt](https://github.com/microsoft/MCW-ML-Ops/files/5392065/1_Job.1.txt)

Can you please check on this.

[2020-10-21 13:28] ErnstRoell commented on #37
Got exactly the same error,  AttributeError: 'Run' object has no attribute 'get_output_data'.

With an earlier version of the code (20 May) that used to run correctly got an error on the the "wait_for_completion" with
attribute error "timeout_seconds

[2020-10-22 23:25] shirolkar commented on #37
@tejaswini972 @ErnstRoell
There is an issue with the newer versions of AML Python SDK. This issue (AttributeError: 'Run' object has no attribute 'get_output_data'.) will be fixed as part of the October 2020 update. If you want an fix earlier. Here are two changes to do to fix this issue:

Get install_requirements.sh file from: https://github.com/solliancenet/mcw-mlops-starter-v3
(this first change

[2020-11-02 12:37] akn9050 commented on #37
Hi @shirolkar,
 thanks for the update, we will check this out and let you know.

[2020-11-04 21:09] himanshuahlawat31 opened #38 "experiment failing in exercise 1"
While running experiment in deep learning with text , experiment is getting failed
please find the logs file
[70_driver_log.txt](https://github.com/microsoft/MCW-ML-Ops/files/5490515/70_driver_log.txt)

[2020-11-05 00:52] himanshuahlawat31 commented on #38
Adding to the below :

In exercise 6 task 4 release pipeline is failing ,please find the logs

[tasklog_8.log](https://github.com/microsoft/MCW-ML-Ops/files/5491228/tasklog_8.log)

[2020-11-05 02:49] shirolkar commented on #38
@himanshuahlawat31 @timahenning @DawnmarieDesJardins
This issue is new because of changes in the default AML compute image and this issue now fixed in the Oct 2020 update. So when we merge the PR it should address this issue.

[2020-11-05 16:05] Barkha commented on #38
I ran this this am am still seeing it.

[2020-11-05 16:41] shirolkar commented on #38
@Barkha The PR is not merged. The latest updates to the MCW that will be merged soon can be found at: https://github.com/shirolkar/MCW-ML-Ops

[2020-11-05 16:43] himanshuahlawat31 commented on #38
@timahenning @DawnmarieDesJardins @shirolkar when do we expect the PR to merge as we have labs scheduled

[2020-11-05 16:57] Barkha commented on #38
Now getting a new error on load_model
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-66-19a63fa35a6e> in <module>
      1 from keras.models import load_model
----> 2 model = load_model('./model/model.h5')
      3 print("Model loaded from disk.")
      4 print(model.summary())

/a

[2020-11-05 17:17] timahenning commented on #38
@himanshuahlawat31 Our goal is to merge it some time today.

[2020-11-05 17:18] himanshuahlawat31 commented on #38
Thanks for the update

[2020-11-05 18:41] shirolkar commented on #38
@Barkha
The version of tensorflow changed on new compute instances. Please pickup the latest notebook from the fork for the fix:
https://github.com/shirolkar/MCW-ML-Ops/blob/master/Hands-on%20lab/notebooks/Deep%20Learning%20with%20Text.ipynb

[2020-11-05 19:57] DawnmarieDesJardins commented on #28
Closing issue as resolved with merge of PR #36

[2020-11-05 19:57] #28 closed

[2020-11-05 19:57] DawnmarieDesJardins commented on #30
Closing issue as resolved with merge of PR #36

[2020-11-05 19:57] #30 closed

[2020-11-05 19:57] DawnmarieDesJardins commented on #33
Closing issue as resolved with merge of PR #36

[2020-11-05 19:57] #33 closed

[2020-11-05 19:58] DawnmarieDesJardins commented on #35
Closing issue as resolved with merge of PR #36

[2020-11-05 19:58] #35 closed

[2020-11-05 19:58] DawnmarieDesJardins commented on #37
Closing issue as resolved with merge of PR #36

[2020-11-05 19:58] #37 closed

[2020-11-05 19:58] DawnmarieDesJardins commented on #38
Closing issue as resolved with merge of PR #36

[2020-11-05 19:58] #38 closed

[2021-04-13 20:09] GabsGear opened #40 "Pipeline queued in exercice 4"
Hello, I am trying to run the pipeline following the example of exercise 4 but it is in queue and does not execute. I checked and I don't see other services in parallel

[code]

[2021-04-13 21:28] shirolkar commented on #40
@GabsGear Hi did you check in your organization setting that there are no parallel jobs running? See attached screenshot for reference. Thanks. Jitendra
<img width="1280" alt="Screen Shot 2021-04-13 at 5 25 18 PM" src="https://user-images.githubusercontent.com/18037946/114623668-9172d880-9c7d-11eb-8f4b-512b0285843e.png">

[2021-04-14 02:54] GabsGear commented on #40
![image](https://user-images.githubusercontent.com/20424895/114647398-6a36fe00-9cb3-11eb-809e-de79053ee478.png)

I checked it, and don't have jobs running D:

[2021-04-14 17:46] shirolkar commented on #40
@GabsGear I retested the lab and I worked for me. I am not sure where you are hitting the quota limit in your env. I am assuming you checked other Azure devops projects (if any). Only other suggestion is to the delete your current
mlops-quickstart project and try again.

[2021-04-18 13:18] GabsGear commented on #40
Ok @shirolkar, i found a Advisory status for the pipelines in my region, i think it can influence my experiment.

![image](https://user-images.githubusercontent.com/20424895/115146901-ff792000-a02e-11eb-8845-c6c51ac1dd05.png)

I will delete all my projects and start from scratch.

For now i will Close this insue. Thanks!

[2021-04-18 13:18] #40 closed

[2021-06-18 04:36] disssid opened #41 "AttributeError when importing Keras"
Azure - Azure trial subscription

Issue :

[code]

#### File: Deep learning.ipynb

[code]

Same issue when converting the Keras model to ONNX

#### How I fixed it:
Referring to the answer provided here - https://stackoverflow.com/a/67787883

For the import issues, changed the imports to the following
[code]

Regarding the Keras model to ONNX conversion:
I installed the latest version of onnxmltool

[2021-06-19 00:31] shirolkar commented on #41
@DawnmarieDesJardins @timahenning I have sent a PR for this fix. Thanks. Jitendra

[2021-06-21 16:15] DawnmarieDesJardins commented on #41
Closing issue as resolved with merge of PR #42

[2021-06-21 16:15] #41 closed

[2021-07-14 04:06] amalgireesh opened #43 "Issues in Labguide"
### Please find the few upadtion suggestions below:
1. Required DevOps agent to complete the lab (paid), whereas in requirement it's asked to use a free Azure DevOps subscription.
2. Exercise 1, Task 1, step 10 > Screenshot requires updation (AML UI changed)
3. Exercise 1, Task 1, step 11 > Instructions to **Authenticate** is missing, and also not able to find the edit option as per the    instruc

[2021-07-16 21:48] DawnmarieDesJardins commented on #43
Closing issue as resolved with merge of PR #44

[2021-07-16 21:48] #43 closed

[2021-07-20 12:44] Karthikkc123 opened #45 "Facing Error while building a Pipeline in Azure DevOps."
In Exercise 4 - Task 2, While building a pipeline in Azure DevOps facing an error-
There was a resource authorization issue: "The pipeline is not valid. Could not find a pool with name Hosted Agent. The pool does not exist or has not been authorized for use. For authorization details, refer to https://aka.ms/yamlauthz."
Even after authorizing resources and Agent Pool is available with online statu

[2021-07-20 16:21] shirolkar commented on #45
@Karthikkc123 Did you create a Self-Hosted Agent Pool as per https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md#task-2-setup-self-hosted-agent-pool. Also, when you created the Agent Pool, did you enable Auto-provision this agent pool in all projects? You also need to get the latest code from https://github.com/solliancenet/mcw-mlops-starter-v3. Ple

[2021-07-21 05:42] Karthikkc123 commented on #45
@shirolkar I have followed all the above mentioned steps but also I'm unable to build the pipeline.

[2021-07-22 22:37] timahenning opened #46 "Sept 2021 Update Suggestions"

[2021-07-22 23:00] shirolkar commented on #46
1. Update all the affected UIs in Azure ML studio, Azure DevOps, and Application Insights sections.
2. Update the lab to use self-hosted agents:
    - Provide step-by-step instructions as to how to create, configure and use self-hosted agents in Azure DevOps build and release pipelines
   - The pipelines continue to use azure-cli ML extension for MLOps (the self-hosted agents should support this e

[2021-07-26 18:36] timahenning commented on #45
@Karthikkc123 Did MS approve your pipelines?

[2021-07-29 19:08] lostmygithubaccount commented on #46
using the v1 or v2 CLI extension for ML?

[2021-07-30 20:23] shirolkar commented on #46
@lostmygithubaccount Hi Cody - we will upgrade to use the v2 of the CLI ML extension. Thanks. Jitendra

[2021-08-02 05:56] Karthikkc123 commented on #45
@timahenning No, MS did not approve our pipelines.

[2021-08-03 09:33] Shivashant25 opened #47 "Issue in Before the hands-on lab, excerise- 1, task- 2"
In step- 1, I'm getting an error while running the notebook where we install libraries for Azure ML.

Code cell:
![image](https://user-images.githubusercontent.com/81952290/127993037-e76b43bb-37dc-43df-817c-72e5f00ce1a2.png)

Error:
![image](https://user-images.githubusercontent.com/81952290/127993168-fa4b02eb-6317-4dec-b72a-16a7ea7abd7c.png)
![image](https://user-images.githubusercontent.com/8195

[2021-08-03 16:35] shirolkar commented on #47
@Shivashant25 I believe you are working with an older version of the notebook. The lab files were updated recently. Please use the latest version of the notebook. Thanks. Jitendra @timahenning  @DawnmarieDesJardins

[2021-08-13 22:24] DawnmarieDesJardins commented on #47
Closing issue as no further communication received.  Please feel free to reopen if you're still having trouble.

[2021-08-13 22:24] #47 closed

[2021-08-24 00:03] shirolkar commented on #46
@DawnmarieDesJardins  @timahenning
Based on the feedback from SMEs, we will not add git actions as they are not relevant for this lab. Instead we will provide instructions for setup and related build assets / code for both self-hosted agents and Microsoft-hosted free agents. Based on other feedback from SMEs, we will look to shorten the exercises, and possibly make some exercises optional.

[2021-08-27 12:58] shkumesh opened #48 "az ml folder option is missing"
Exercise 4 -> Task 2: Run the Build Pipeline

Pipeline failed with the below error:

`ERROR: 'folder' is misspelled or not recognized by the system`

The folder option is missing :

[code]

versions:

[code]

[2021-08-31 17:41] shirolkar commented on #46
@DawnmarieDesJardins @timahenning @lostmygithubaccount I had to completely rework the build pipeline so that it can run on both Self-hosted agent and Microsoft hosted agents with minimal setup and configuration. Thus, the underlying repo source code (https://github.com/solliancenet/mcw-mlops-starter-v3) will be significantly changed. Please note that we will plan to use CLI v2 when we have updated

[2021-09-23 16:48] DawnmarieDesJardins commented on #45
Closing issue with merge of PR #49

[2021-09-23 16:48] #45 closed

[2021-09-23 16:49] DawnmarieDesJardins commented on #46
Closing issue with merge of PR #49

[2021-09-23 16:49] #46 closed

[2021-09-23 16:49] DawnmarieDesJardins commented on #48
Closing issue with merge of PR #46

[2021-09-23 16:49] #48 closed

[2021-09-24 21:06] rgknp opened #50 "modeldata container is empty"
Exercise 7 (Optional): Examining deployed model performance
I enabled both application insights and model data collection as directed in Model Telemetry notebook

Then I am on Task 3: Check the data collected

I go to storage account and see that modeldata container is empty. I tried refreshing several times but data won't show in modeldata container.

I am able to see the data in application insi

[2021-09-24 21:09] rgknp commented on #50
Never mind, I sent some more data and it shows up now. Please ignore.

[2021-09-24 21:09] #50 closed

[2021-09-28 08:22] Kalyani7744 opened #51 "lab Guide Updates"
1. [Before hands on lab, task 4, Step 14](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20MLOps.md) While running the linux commands, **tar zxvf ../vsts-agent-linux-x64-2.191.1.tar.gz** command will throw an error as the downloaded agent version will differ from the given one. Instruction has be added regarding it.

2. [Before hands on lab, task 4, Step

[2021-09-29 17:18] DawnmarieDesJardins commented on #51
Closing issue as resolved with merge of PR #52

[2021-09-29 17:18] #51 closed

[2021-10-04 14:41] Kalyani7744 opened #53 "Issue in Exercise 2, task 2"
1. In [Exercise 2, Task 2](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md#task-2-run-the-build-pipeline), the pipeline run is failing with the issue shown below. I have provided the details in yml file according to the lab guide.
2. The cluster got created successfully in aml workspace but the the run is getting failed as shown below.

![image]

[2021-10-04 23:42] shirolkar commented on #53
@Kalyani7744 How many nodes are there in the AML cluster (what is min / max)? Thanks. Jitendra

[2021-10-05 00:31] Kalyani7744 commented on #53
Hi @shirolkar , There are 2 nodes in the AML cluster and maximum number of nodes are 2. Thanks.

![image](https://user-images.githubusercontent.com/83349665/135942088-41c7fdc2-7ba9-4829-8830-d30628b9f2dc.png)

[2021-10-05 12:00] shirolkar commented on #53
@Kalyani7744 I recently fixed your issue #52 Did the pipeline work for you then? If so, what changed between then and now at your end? Also, are you using Microsoft hosted or Self hosted agent? Thanks. Jitendra

[2021-10-05 15:06] Kalyani7744 commented on #53
@shirolkar The pipeline didn't worked for me even though there are only 2 nodes. I am using Self hosted agent. Thanks, Kalyani

[2021-10-05 15:49] lpamulagit opened #54 "Before the HOL - MLOps - documentation issues"
Please fix the following documentation issues in Before the HOL - MLOps:

Issue 1:
In Task 5: Setup Azure DevOps Agent and Step #10, the instructions say select "Image: Ubuntu Server 18.04 LTS - Gen 1". But Gen 1 doesnt show up by default. User has to browse all images to select Gen 1. This might confuse the user. Does Gen 2 work ok?

Issue 2:
In Task 5: Setup Azure DevOps Agent and Step #14, **az

[2021-10-06 14:01] lpamulagit opened #56 "Hands-on-lab instructions: Task 4, Step 2 issue"
In Task 4: Add Install the AML CLI task to Test Deployment stage and Step 2. Provide the following information:
Azure Resource manager connection: quick-starts-sc does not show up automatically. We need to first authorize the ML workspace. This will confuse the users so correct it.

[2021-10-12 11:56] Kalyani7744 commented on #53
Hello, I have updated my Ubuntu Server to 18.04 LTS-Gen2 as shown below and created the AML workspace with container registry as suggested by you. Still facing the same issue in pipeline.

![image](https://user-images.githubusercontent.com/83349665/136951497-f22b9554-4ec6-4311-9daa-21e7743f7daf.png)

[2021-11-06 09:38] nish112 opened #59 "Issue in build pipeline"
I am facing error while running the build pipeline. When I am running the .yml file, Command az ml folder attach, is giving error. The error is as below :

ERROR: __init__() got an unexpected keyword argument 'async_persist'

[2021-11-09 14:35] shirolkar commented on #59
@nish112  I see that you found a workaround from https://github.com/Azure/azure-cli/issues/20150 by downgrading the azure cli using sudo apt-get install azure-cli=2.29.1-1~bionic. I will monitor the thread for a more permanent solution. Thanks. Jitendra

[2021-11-10 14:31] virvirlopez commented on #59
Hi, for us this is not working since we are executing this in a release in an azurecli step. Please can somebody give us some guidance ?

[2021-11-10 23:42] shirolkar commented on #59
@virvirlopez We are following the same thread as you are for a fix from the azure cli team: https://github.com/Azure/azure-cli/issues/20150. Thanks. Jitendra

[2021-11-16 17:43] timahenning commented on #59
@virvirlopez Did downgrading to azure-cli 2.29 work for you?

[2021-11-16 23:16] ringoyu commented on #59
During **build** pipeline, I ran into the same error for Command **az ml folder attach**. I fixed it by adding "import os" for "pipelines_master.py". You can check your pipelines_master.py file also to see whether it misses os. Hope it helps.

[2021-11-19 21:24] DawnmarieDesJardins commented on #59
@shirolkar
Any update for us?  Thank you!

[2021-11-25 18:06] Karthikkc123 opened #61 "Before HOL - Task 5: Setup Azure DevOps Agent Step:14"
1. In [Before HOL - Task 5: Setup Azure DevOps Agent Step:14](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20MLOps.md), while running a below command -

   **``az extension add --name azure-cli-ml``**

   Getting an error the below error -

   **``No matching extensions for 'azure-cli-ml'. Use --debug for more information.``**

   Tried by running with

[2021-11-29 16:24] shirolkar commented on #61
@timahenning I will look at it early this week. Thanks.

[2021-11-29 16:59] shirolkar commented on #61
Issue is open with Azure CLI team: https://github.com/Azure/azure-cli/issues/20524

[2021-11-29 17:39] shirolkar commented on #61
@Karthikkc123  Downgrade Azure CLI using following command on the agent: sudo apt-get install azure-cli=2.29.1-1~bionic. After that you can install the ML extension: az extension add --name azure-cli-ml

[2021-12-02 19:04] Karthikkc123 commented on #61
Thanks @shirolkar, now I'm able install azure-cli-ml extension by using the above given command to downgrade azure-cli.

But in Exercise-2 Task-2 Step-1, **still the pipeline is getting failed with Attach folder to workspace**. Even after performing the workaround note given below step-3 throwing same error.

Please find the below screenshot for your reference:

![image](https://user-images.github

[2021-12-03 15:16] shirolkar commented on #61
@Karthikkc123 This looks like a different issue - an authorization failure. I was able to run the build pipeline successfully using the documented workaround. Did you create a brand new AML workspace for this lab as described in the https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20MLOps.md? Also, check your service connection (quick-starts-sc) - maybe del

[2021-12-06 22:14] DawnmarieDesJardins commented on #59
@shirolkar Hello!  Recent comments on Azure/azure-cli#20150 may have a fix.  Can you review it please and let me know?  Thank you!

[2021-12-06 22:17] DawnmarieDesJardins commented on #61
@shirolkar Hi!  There are recent comments on Azure/azure-cli#20524.  Can you please check and let me know if it's a fix for this issue?  Thank you! :)

[2021-12-06 22:49] shirolkar commented on #61
@DawnmarieDesJardins We have a workaround that works. The Azure CLI issue is still open and I do not see a new version of Azure CLI released as yet. Once the Azure CLI issue is marked fixed / new version of Azure CLI available, I can retest without the workaround. Thanks. Jitendra

[2021-12-06 22:49] shirolkar commented on #59
@DawnmarieDesJardins We have a workaround that works. The Azure CLI issue is still open and I do not see a new version of Azure CLI released as yet. Once the Azure CLI issue is marked fixed / new version of Azure CLI available, I can retest without the workaround. Thanks. Jitendra

[2021-12-07 09:35] Thrillz commented on #61
For some reason i can't seem to find any version of azure-cli=2.29.1-1~bionic

[2021-12-07 09:38] Thrillz commented on #61
![image](https://user-images.githubusercontent.com/22027172/145004468-1d6f96dc-92e5-4855-ae7f-8cc6ce3ac0b5.png)
It say version 2.19.1 but same error happens using the sudo command for version 2.29.1

[2021-12-07 15:20] Karthikkc123 commented on #61
@shirolkar, still the Pipeline getting failed to **run training pipeline** in Exercise-2 Task-2 Step-1.

Even after performing the workaround note given below step-3 throwing same error.

Please find the below screenshot for your reference:

![image](https://user-images.githubusercontent.com/83394010/145056375-eb11d3df-4ac3-446c-8e30-b5e424afc3ea.png)

[2021-12-07 15:49] shirolkar commented on #61
@Karthikkc123 I see that the error now is at a different step so the initial issue is resolved using the workaround. For the this particular failure did you pick up the latest files from: https://github.com/solliancenet/mcw-mlops-starter-v3. If not get the update your pipelines_master.py with the latest one from the code repo https://github.com/solliancenet/mcw-mlops-starter-v3. If that does not h

[2021-12-07 15:51] shirolkar commented on #61
@Thrillz This does not look like the MCW MLOps pipeline. Are you sure you are logging the issue with the correct repo? Thanks. Jitendra

[2021-12-07 20:21] Karthikkc123 commented on #61
@shirolkar can you please let us know what permissions do we need to build this pipeline in Exercise-2 Task-2.

We are facing the Attach folder to workspace error, as I commented previously in this issue.

And we are trying with Owner permission on subscription.

Please find the below attached raw_log for your reference:
[code]

[2021-12-07 20:54] shirolkar commented on #61
@Karthikkc123 Do you have owner permission on AML Workspace? When you setup the service connection (https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md#task-4-create-new-service-connection) please select scope level to be Machine Learning Workspace and ensure that all the selected values are correct. Based on your previous comment you were able to g

[2021-12-07 21:15] Karthikkc123 commented on #61
Yes @shirolkar we have assigned owner permission to AML workspace and followed the given instructions for creating service connection.

Still the pipeline getting failed to attach the folder to workspace. Only once the build passed till training pipeline step, after re-running the pipeline again it is getting break down at attach folder to workspace.

[2021-12-08 17:15] shirolkar commented on #61
Hi @Karthikkc123  – this is a permissions issue and here is the key line for you to debug:

The client '856e6354-dbe3-458f-a17c-ba18c1781688' with object id '856e6354-dbe3-458f-a17c-ba18c1781688' does not have authorization to perform action 'Microsoft.MachineLearningServices/workspaces/read' over scope '/subscriptions/de92e6f0-7060-40fe-931d-866e29c05d75/resourceGroups/Quick-Starts/providers/Micr

[2021-12-08 17:49] Karthikkc123 commented on #61
Hi @shirolkar now we able to build the pipeline without any issues. While performing the [Exercise-4 Task 2: Monitor the Test Deployment stage](https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/HOL%20step-by-step%20-%20MLOps.md) faced an error in **Test Deployment** that failed to create Docker client.

Please find the below screenshot:

![image](https://user-images.githubusercont

[2021-12-08 18:54] shirolkar commented on #61
@Karthikkc123  can you run the following in the notebook.
[code]

[2021-12-08 18:58] Karthikkc123 commented on #61
@shirolkar , please find the output in the below screenshot:

![image](https://user-images.githubusercontent.com/83394010/145267562-07992ba0-7d07-4de4-89f8-d726ba5a6f14.png)

[2021-12-10 18:40] shirolkar commented on #61
@Karthikkc123  I am not able to reproduce the restoring the saved model issue. Can you confirm that the model was downloaded in the local folder on compute instance called "model". There should be two files in that folder: model.h5 and model.onnx. Thanks. Jitendra

[2021-12-10 18:43] shirolkar commented on #61
@Karthikkc123 Also in the future, can you create new issues. Like I mentioned the original issue is for not able to run az extension add --name azure-cli-ml. We have been using this thread for multiple different issues. Thanks. Jitendra

[2021-12-16 15:42] shirolkar commented on #59
@DawnmarieDesJardins There is new version of Azure CLI 2.31.0 that fixes the original issue. We can close this issue. Thanks. Jitendra

[2021-12-16 15:43] shirolkar commented on #61
@DawnmarieDesJardins  The original issue in this thread is now fixed. We can close this issue. Thanks. Jitendra

[2021-12-16 16:15] #61 closed

[2022-02-15 17:25] priyanshi09 opened #62 "AzureML Compute Job failed"
Hi,
Implementing the repository in my Devops environment and it fails on AzureML compute Job with error:  Failed to parse Job Spec due to invalid base64 encoding with error Encoded text cannot have a 6-bit remainder.",

Here is the log file, any ideas to fix this issue
[10.txt](https://github.com/microsoft/MCW-ML-Ops/files/8073218/10.txt)
?

[2022-02-19 20:15] shirolkar commented on #62
@priyanshi09 @timahenning @DawnmarieDesJardins I looked into this issue and I am not able to reproduce it. Priya can you confirm that you created new AML WS as per https://github.com/microsoft/MCW-ML-Ops/blob/master/Hands-on%20lab/Before%20the%20HOL%20-%20MLOps.md#task-3-create-an-azure-machine-learning-workspace with the **Container registry** specified? Thanks Jitendra

[2022-02-24 22:39] DawnmarieDesJardins commented on #62
Closing this issue as no further communication received.  Please reopen if needed.

[2022-02-24 22:39] #62 closed

[2022-03-25 15:29] faizansiddiqu007 opened #64 "Automate your cycle of Intelligence"
Katonic MLOps Platform is a collaborative platform with a Unified UI to manage all data science activities in one place and introduce MLOps practice into the production systems of customers and developers. It is a collection of cloud-native tools for all of these stages of MLOps:

-Data exploration
-Feature preparation
-Model training/tuning
-Model serving, testing and versioning

Katonic is for b

[2022-03-25 15:57] #64 closed